{% extends "base.html" %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="card">
    <h1>Регистрация в TTKstream</h1>
    
    <form method="post">
        {% csrf_token %}
        
        {{ form.as_p }}
        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
        {% endif %}

        <button type="submit">Зарегистрироваться</button>
    </form>
    
    <div class="link">
        <p>Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
    </div>
</div>
{% endblock %}